* {
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {

    font-size: 16px;
    font-family: Playfair Display;
    color: black;
}

img {
    vertical-align: top;
    max-width: 100%;

}

a {
    text-decoration: none;
    color: black;
    transition: all .3s ease;


}

a:hover {
    color: #200e0c9c;
    font-size: 20px;
}

.top-redes>a:hover {
    padding: 0 10px;
    font-size: 35px;
}

.titulo-seccion>h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 39px;
    margin-bottom: 30px;
    font-weight: italic;
    letter-spacing: -0.02em;
}

.titulo-seccion>p {
    font-size: 17px;
    color: rgb(59, 58, 58);
}


.menu-bar-pc {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    padding: 0 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 94px;
    border-bottom: 1px solid gray;

}

.logo {
    max-height: 100%;
    max-width: 50%;
}

.menu-principal>a {
    padding: 0 10px;
    color: #000000;
    font-size: 25px;
}

.menu-principal>a:hover {
    padding: 0 10px;
    color: #000000;
    font-size: 21px;
}

.top-redes>a {
    padding: 0 10px;
    font-size: 30px;
}

.menu-bar-movil {

    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    padding: 0 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 94px;
    border-bottom: 1px solid gray;
    display: none;
}

.menu-bar-movil>.logo {
    max-height: 100%;
    max-width: 50%;
}

.menu-bar-movil>.burguer-menu {
    cursor: pointer;
    font-size: 35px;
    color: rgb(39, 13, 13);
}

.menu-bar-movil .SlideMenu {
    position: fixed;
    top: 107px;
    left: -80%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 26px;
    width: 80%;
    transition: all .3s ease;
}

.menu-bar-movil>.SlideMenu.active {
    left: 0;
}

.menu-bar-movil>.SlideMenu>.top-redes {
    margin-bottom: 10px;
}

.menu-bar-movil>.SlideMenu>.top-redes>a {
    padding: 0 10px;
}

.SlideMenu>.menu-principal>a {
    display: block;
    padding: 10px 0px;
    border-top: 1px solid gray;
}

.container-T {
    padding-top: 111px;
    background: linear-gradient(rgb(10, 4, 4), rgba(46, 21, 21, 0.945));

}

.container-T .titulo-seccion {
    font-size: 40px;
    color: #fff;
    text-align: center;
    background-color: #141618;
    border: 6px double #eaeaea;
}

.banner-dojo {
    background: linear-gradient(rgb(54, 19, 19), rgba(29, 2, 2, 0.836));
}

.banner-dojo>.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.banner-dojo>.img-container>img {

    padding-top: 20px;
    padding-bottom: 0px;
    width: 300px;
    height: 310px;
    box-shadow: 20px 20px 10px;
}

.container-kanji {
    position: static;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -260px;
    margin-right: 280px;
    margin-left: 280px;
    padding-bottom: 30px;


}

.container-kanji>.kanji {
    background-color: #ffffff;
    border: 6px double #eaeaea;
    padding-bottom: 45px;
    padding-top: 40px;
    text-align: center;
    width: 140px;
    box-shadow: 20px 20px 10px;
}

.sensei{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-image: url('../imgs/dojo.jpg');
    background-size: cover;
    background-position: center
}

.sensei>.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
    padding-bottom: 60px;
}

.sensei>.img-container >img{
    width: 300px;
    height: 450px;
    border: #eaeaea ridge 6px;
    box-shadow: 20px 20px 10px;
    
    
}

.sensei>.img-container>h2{
    width: 300px;
    height: 50px;
    margin-top: 400px;
    margin-left: -300px;
    color: #eaeaea;
    background-color: #000000;
    position: relative;
    text-align: center;
    border: #eaeaea ridge 6px;
}

.sensei>.contenido-sensei{
    border: #eaeaea ridge 6px;
    background: linear-gradient(rgb(10, 4, 4), rgba(46, 21, 21, 0.945));
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
}

.sensei>.contenido-sensei>p{
    text-align: center;
    color: #eaeaea;
}

.historia-karate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgb(10, 4, 4), rgba(46, 21, 21, 0.945));
}

.historia-karate>.karate{
    width: 90%;
   
}

.historia-karate>.karate>h1{
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    border-bottom: #eaeaea solid 2px;
    text-align: center;
    color: #eaeaea;
}

.historia-karate>.karate>p{
    margin-bottom: 60px;
    text-align: center;
    color: #eaeaea;
}

.historia-karate > .okinawa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
}

.historia-karate > .okinawa >img{
    width: 600px;
    height: 600px;
    border: #eaeaea ridge 6px;
    box-shadow: 20px 20px 10px;
}

footer {

    background: #2c0a08c2;
    padding: 30px 0;
    padding-top: 30px;
    text-align: center;
    color: #fff;
    padding: 0 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 94px;


}

footer .bottom-redes {

    margin-top: 20px;
}

footer .bottom-redes a {

    padding: 0 10px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

footer .bottom-redes a:hover {
    color: #5a1e1e
}


@media all and (max-width: 800px) {

    .menu-bar-pc {
        display: none;
    }

    .menu-bar-movil {
        display: flex;
    }


}